:root {
  font-family: 'Poppins', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  display: grid;
  place-content: center;
}

body {
  color: whitesmoke;
  background: rgb(20,96,189);
  max-width: 360px;
}

.App{
  display: grid;
  grid-template-columns: 1fr;
  max-width: 340px;
}

h1{
  text-align: center;
}

.labelInput{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px rgb(54, 134, 220) solid;
  margin-bottom: 5px;
}

.labelDiv{
  text-align: right;
  padding: 12px;
  font-size: 1.2em;
}

.inputDiv{
  padding: 10px;
}

.inputDiv input{
  width: 3em;
  height: 30px;
  border: none;
  border-radius: 5px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    font-size: 20px;
}

.buttonDiv{
  margin-top: 20px;
  display: grid;
  place-content: center;
  display: grid;
  place-content: center;
}

button{
  border: none;
  border-radius: 8px;
  height: 40px;
  font-size: 1.5em;
  background-color: rgb(19, 177, 221);
  color: rgb(233, 236, 238);
  width: 9em;
  font-weight: bold;
  
}

button:hover{
  background-color: rgb(96, 207, 238);
  color: black;
}